body, html{margin:0; padding:0;}
html, body, p, div, ul, li,
span, a, label
{
    margin:0;
    padding:0;
    font-family:'Nanum Gothic', "나눔 고딕", Helvetica, sans-serif;
    font-size:14px;
    line-height:18px;
}



