<div class="l-timer" ng-controller="issueTimerCtrl">
    <div class="timer">
        <div class="timer-window">
            <p class="issue-tit">[WEB-3383] works 클라이언트 만들기</p>
            <p class="working-time">10h 30m</p>
            <div class="timer-controller">
                <button class="timer-btn fa fa-play-circle fa-2x" aria-hidden="true"></button>
                <button class="timer-btn fa fa-stop-circle fa-2x" aria-hidden="true"></button>
            </div>
        </div>
    </div>
    <div class="timer">
        <div class="timer-window">
            <p class="issue-tit">[WEB-3383] works 클라이언트 만들기</p>
            <p class="working-time">10h 30m</p>
            <div class="timer-controller">
                <button class="timer-btn fa fa-play-circle fa-2x" aria-hidden="true"></button>
                <button class="timer-btn fa fa-stop-circle fa-2x" aria-hidden="true"></button>
            </div>
        </div>
    </div>
    <div class="timer">
        <div class="timer-window">
            <p class="issue-tit">[WEB-3383] works 클라이언트 만들기</p>
            <p class="working-time">10h 30m</p>
            <div class="timer-controller">
                <button class="timer-btn fa fa-play-circle fa-2x" aria-hidden="true"></button>
                <button class="timer-btn fa fa-stop-circle fa-2x" aria-hidden="true"></button>
            </div>
        </div>
    </div>
</div>